body { background-color: #000000; 
     font-family: Verdana, Arial, sans-serif;
     background-image: url(images/store3.jpg);
     background-repeat: no-repeat;
     background-position: center;
//2, 6b, 8b, 4 and 990000, cc3300, 993300, ff6633, da3f01, be3700, b63200, ae2d00//
}
p {color: #ff9900;
font-size: 1em;
}
h1 { background-repeat: no repeat;
    color: #FF0000;
    color: #ff0000;
    line-height: 150%;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: #000000;
}
h2 { background-color: #000000;
    color: #666666; 
    line-height: 120%;
    font-size: 1.12em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 5px 5px;
    
}
h3 { color: #ff9900;
    line-height: 120%;
    text-align: center;
}
h4 { background-repeat: no repeat;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

li { color: #ff9900;
}

.content { margin-left: auto;
          margin-right: auto;
          width:  60%;
}
.nav { margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer { background-color:#000000;
    color: #ffcc33;
    line-height: 150%;
    font-size: .60em;
    font-style: italic; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 5px 5px 5px 5px;
    position: fixed;
    bottom: 20px;
}
#wrapper { margin-left: auto;
          margin-right: auto;
          width: 90%;

}

.goodbye {
    position: fixed;
    bottom: 50px;
    width: 600px;
    margin: auto;

a {
    text-decoration: none;
}