body 
{ 
     background-color: #000000; 
     font-family: Verdana, Arial, sans-serif;
     background-image: url(images/store3.jpg);
     background-repeat: no-repeat;
     background-position: center;
}

@font-face 
{
	font-family:freestyl;
	src: url("fonts/FREESTYL.tff");
		src: url("fonts/FREESTYL.woff");
}

p
{
    color: #ff9900;
}
header
{
    background-repeat: no repeat;
    color: #FF0000;
    line-height: 150%;
    text-align: center;
    font-family: FREESTYL, sans-serif;
    margin-top: -10px;
    padding-bottom: 5px;
    padding-top: 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: #000000;
}
h1
{

    font-family: freestyl, sans-serif;
}

h2
{
    background-color: #000000;
    color: #666666; 
    line-height: 120%;
    font-size: 1.12em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 5px 5px;
}
section
{
    text-align: center;
    color: #ff9900;
}
article
{
    color: #ff9900;
    line-height: 120%;
    text-align: center;
    padding-bottom: 0px;
}
h4
{   
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}
li
{
    text-align: center;
    color: #ff9900;
}
ul
{
    text-align: center;
    list-style-position: inside;
    color: #ff9900;
}
.content
{
    margin-left: auto;
    margin-right: auto;
    width:  60%;
}
nav
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer
{
    background-color:#000000;
    color: #ffcc33;
    line-height: 150%;
    font-size: .60em;
    font-style: italic; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 5px 5px 5px 5px;
    bottom: 20px;
    clear: both;
}

.goodbye
{
    position: fixed;
    bottom: 50px;
    width: 600px;
    margin: auto;
}

a
{
    text-decoration: none;
}
  
@media (max-width: 643px)
{   
    header
    {
        border: 1px solid transparent;
    }
    section
    {
        width: 100%;
        border: 1px solid transparent;
    }
    article
    {
        width: 100%;
        border: 1px solid transparent;
    }
    footer
    {
        border: 1px solid transparent;
    }
}



