body { background-color: #cc3300; 
     font-family: Verdana, Arial, sans-serif;
     background-image: url(images/colors2.jpg);
//2, 6b, 8b, 4 and 990000, cc3300, 993300, ff6633, da3f01, be3700, b63200, ae2d00//
}
p {color: #ff9900;
font-size: 1em;
}
h1 { background-repeat: no repeat;
    color: #666666;
    line-height: 150%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
}
h2 { background-color: #000000;
    color: #666666; 
    line-height: 120%;
    font-size: 1.12em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 5px 5px 5px;
}
h3 { color: #ffcc33;
    line-height: 120%;
}
h4 { background-repeat: no repeat;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

li { color: #ff9900;
}

.content { margin-left: auto;
          margin-right: auto;
          width:  60%;
}
.nav { margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer { background-color:#000000;
    color: #ffcc33;
    line-height: 150%;
    font-size: .60em;
    font-style: italic; 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 5px 5px 5px 5px;
}
#wrapper { margin-left: auto;
          margin-right: auto;
          width: 90%;
} 

#logo {width: 548px;
    height: 180px;
    background-color: #000000;
 //   background-image:url(images/LogoBanner2.gif);
    background-image:url(images/reverseBanner2.jpg);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}
#reverselogo {width: 96px;
    height: 120px;
    background-image:url(images/reverseLogo1.jpg);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}
#art {width: 596px;
    height: 288px;
    background-image:url(images/ArtPour2.jpg);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}
#front {width: 153px;
    height: 120px;
    background-image:url(images/front.jpg);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}
#inside {width: 162px;
    height: 120px;
    background-image:url(images/inside.jpg);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}
#map {width: 296px;
    height: 216px;
    background-image:url(images/MaptoEspressoFINO.gif);
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 5px 5px 5px;
}